---
import type { Entry, EntrySkeletonType } from 'contentful'
import Card from './Card.astro'
import type { Cake } from '../services/getCakes'
interface Props {
  cakes?: Cake[]
  countToShow: number
}

const { cakes, countToShow } = Astro.props
const cakesToShow = countToShow === cakes?.length ? cakes : cakes?.slice(0, countToShow)
---

{
  cakesToShow?.map((cake) => {

    return (
      <li class='list-none'>
        <Card
          name={cake.name}
          price={cake.price}
          imageCake={cake?.imageCake}
          description={cake.description}
          slug={cake.slug}
        />
      </li>
    )
  })
}
