---
import GalleryImages from '../../components/GalleryImages'
import SizeCake from '../../components/SizeCake'
import WhatsAppButton from '../../components/WhatsAppButton.astro'
import Layout from '../../layouts/Layout.astro'
import { getCakes, type Cake } from '../../services/getCakes'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import Icon from 'heroicons-astro/Heroicon.astro'
import { customCake } from '../../services/customYourCake'
import { slugify } from '../../utils/slugify'

const { slug } = Astro.params

const data = await getCakes()

const cake = data.find((cake) => slugify(cake.name) === slug) as Cake
const images = cake?.imageCake
// const image = !cake?.imageCake ? '' : cake.imageCake[0]
const message = 'hola'
---

<Layout title='Welcome to Astro.' className='bg-principal h-screen'>
  <a
    class='absolute z-20 ml-5 flex cursor-pointer gap-2 pt-10 md:ml-20  items-center'
    href='/'
  >
    <Icon iconCode='arrow-left' iconStyle='solid' customClasses='h-6' />
    <span class='text-xl font-semibold'>Volver</span>
  </a>
  <main class='flex flex-col md:grid md:grid-cols-[40%_1fr] gap-10 px-20 h-full py-40'>
    <picture transition:name={`cake ${slug} box`}>
      <GalleryImages images={images ?? []} client:visible/>
    </picture>
    <section class=''>
      <h3 class='mb-5 text-2xl font-bold text-secondary' transition:name={`cake ${slug} title`}>
        {cake?.name}
      </h3>
      <SizeCake client:load />
      <!-- @ts-ignore -->
      <p class='mt-10' set:html={documentToHtmlString(cake.description)}>
          {typeof cake.description === 'string' && cake?.description}
        </p>
      <button class='mt-10 flex w-full justify-center'>
        <WhatsAppButton title='¡Pedir uno YA!' message={message} />
      </button>
    </section>
  </main>
</Layout>

<style is:global>
  .image-gallery-image {
    max-height: 400px !important;
  }
</style>
